.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #f1f4f7;
}

h1 {
  text-align: center;
}

.collection-item {
  display: flex;
  justify-content: space-between;
}

/* .collection-item:hover {
  background-color: #f5f5f5;
} */

.actions {
  cursor: pointer;
}

.actions .done {
  color: green;
}

.actions .done:hover {
  color: #fff;
  border-radius: 50%;
  background-color: green;
}

.actions .remove {
  color: red;
}

.actions .remove:hover {
  color: #fff;
  border-radius: 50%;
  background-color: red;
}

.td-done {
  text-decoration: line-through;
  background-color: #ccd1d1 !important;
}

